<mat-toolbar>
    <mat-icon>assignment_turned_in </mat-icon>
    Tasks List App
</mat-toolbar>
<mat-card class="example-card">
    <mat-card-title>Edit Task</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="formulary" (ngSubmit)="updatingData()">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Author: </mat-label>
                <input matInput formControlName="author" [(ngModel)]="updateData.author" matInput placeholder="Author of the task" />
            </mat-form-field>
            <div *ngIf="formulary.get('author')?.errors">
                <div *ngIf="formulary.get('author')?.errors?.['required'] && !formulary.get('author')?.pristine">Field Author is Required</div>
            </div>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Title: </mat-label>
              <input matInput formControlName="title" [(ngModel)]="updateData.title" matInput placeholder="Title of the task" />
            </mat-form-field>
            <div *ngIf="formulary.get('title')?.errors">
                <div *ngIf="formulary.get('title')?.errors?.['required'] && !formulary.get('title')?.pristine">Field Title is Required</div>
            </div>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Update: </mat-label>
                <input matInput formControlName="created_At" [(ngModel)]="updateData.created_At" matInput readonly/>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Description: </mat-label>
                <textarea matInput formControlName="desc" [(ngModel)]="updateData.desc" matInput placeholder="Description" rows="3"></textarea>
            </mat-form-field>
            <div *ngIf="formulary.get('desc')?.errors">
                <div *ngIf="formulary.get('desc')?.errors?.['required'] && !formulary.get('desc')?.pristine">Field Description is Required</div>
            </div>
            <br>
            <button mat-stroked-button color="primary">SAVE</button>
            <button mat-stroked-button color="warn" routerLink="/tasks-list">CANCEL</button>
        </form>
    </mat-card-content>
  </mat-card>
