<mat-toolbar>
    <mat-icon>assignment_turned_in </mat-icon>
    Tasks List App
</mat-toolbar>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            All the Tasks
        </ng-template>
        <mat-card>
            <table mat-table [dataSource]="tasksList" class="full-width">
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef>Responsible</th>
                    <td mat-cell *matCellDef="let tasks">{{ tasks.author }}</td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let tasks">{{ tasks.title }}</td>
                </ng-container>
                <ng-container matColumnDef="created_At">
                    <th mat-header-cell *matHeaderCellDef>Moment</th>
                    <td mat-cell *matCellDef="let tasks">{{ tasks.created_At }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let tasks">{{ tasks.status }}</td>
                </ng-container>
                <ng-container matColumnDef="desc">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let tasks">{{ tasks.desc }}</td>
                </ng-container>
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef>Options</th>
                    <td mat-cell *matCellDef=""></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>create</mat-icon>
            Create a New Task
        </ng-template>
        <mat-card>
            <form [formGroup]="formulary" (ngSubmit)="submit()">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Author: </mat-label>
                    <input formControlName="author" matInput placeholder="Author of the task" />
                </mat-form-field>
                <div *ngIf="formulary.get('author')?.errors">
                    <div *ngIf="formulary.get('author')?.errors?.['required']">Field Author is Required</div>
                </div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Title: </mat-label>
                  <input formControlName="title" matInput placeholder="Title of the task" />
                </mat-form-field>
                <div *ngIf="formulary.get('title')?.errors">
                  <div *ngIf="formulary.get('title')?.errors?.['required']">Field Title is Required</div>
                </div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Description: </mat-label>
                  <input formControlName="desc" matInput placeholder="Description" />
                </mat-form-field>
                <div *ngIf="formulary.get('desc')?.errors">
                  <div *ngIf="formulary.get('desc')?.errors?.['required']">Field Description is Required</div>
                </div>
                  <button mat-button color="primary" >Add Task</button>
              </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>